body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: aliceblue;
}

.container {
  text-align: center;
  padding: 50px;
}

#quote {
  font-size: 24px;
  font-style: italic;
  margin: 20px 0;
  color: aliceblue;
}

.quote::before {
  content: '“'; /* Левая кавычка */
}

.quote::after {
  content: '”'; /* Правая кавычка */
}

.btn {
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgb(83, 83, 235);
}

.quote-author {
  margin-top: 10px; /* или любое другое значение */
  display: block;
  font-size: 24px;
}

.favourites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favourite-card {
  background-color: #f9f9f9;
  color: darkslategray;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  width: 20%;
}

.author {
  font-style: italic;
}

#toggle-favourite-btn {
  display: none;
}
